{{!-- ZRPS Actor Sheet --}}
<div class="zrps actor-sheet">

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1><input type="text" name="name" value="{{actor.name}}" placeholder="Character Name" /></h1>

      <div class="resource hp">
        <label>HP</label>
        <input type="number" name="system.hp.value" value="{{system.hp.value}}" />
        <span>/</span>
        <input type="number" name="system.hp.max" value="{{system.hp.max}}" />
      </div>
    </div>
  </header>

  <section class="stats-row">
    {{#each stats as |stat|}}
    <div class="stat">
      <label class="stat-label">{{stat.label}}</label>
      <input class="stat-value" type="number" name="system.{{stat.key}}" value="{{stat.value}}" />
    </div>
    {{/each}}
  </section>

</div>
